.autocomplete-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    .title {
        background: -webkit-linear-gradient(45deg,#FF0000,#0000FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .autocomplete-container {
        .autocomplete-input {
            border-image-source: linear-gradient(45deg,#FF0000,#0000FF);
            border-width: 5px;
            border-image-slice: 5;
            outline-color: #719ECE;
            height: 15px;
            width: 341px;
            height: 25px;
        }

        .options-container {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            padding: 16px;
            margin-top: -2px;
            list-style-type: none;
            animation: slideIn .3s forwards;
            opacity: 0;
            text-align: center;
            overflow-y: auto;
            max-height: 200px;
            font-family: 'Open Sans', sans-serif;
        }
    }

    .progress-bar-container {
        margin-top: 35px;
    }
}

@keyframes slideIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
   }